.home {
    padding: 0;
}

.movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie__box {
    margin: 10px 0;
}

.box__name {
    background: #212529;
    position: relative;
    top: -6px;
    padding: 10px 0;
}

.box__name p {
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}