.home {
    padding: 0;
}

.movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie__box {
    margin: 10px 0;
}

.box__name {
    background: #212529;
    position: relative;
    top: -6px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.box__name a {
    text-decoration: none;
    color: #FFFFFF;
}