.nav {
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 1px;
}

.nav__bar {
    cursor: pointer;
    color: #FFFFFF;
}

.menu {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 0vh;
    top: -50px;
    transition: 1s;
}

.menu ul {
    margin: 0;
    padding: 0;
    align-self: center;
}

.menu ul li {
    list-style: none;
    padding: 5px 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: capitalize;
}

.menu .menu__close {
    position: absolute;
    right: 10px;
    height: 0;
    padding: 10px 0;
    cursor: pointer;
}